# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor/IDE files
.history/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Cache and temp files
*_pycache_/
company_portal/__pycache__/
hr/__pycache__/
people/__pycache__/
